// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

 // Thats a sample how you could change a BootStrap variable.
$white: #fff;
$black: #434A4E;
$grey: #778283;
$grey-300: #77828398;
$secondary: #4DBDEB;
$secondary-300: #89d6f3;
$secondary-900: #0077B3;
$primary: #FFD262;
$navbar-toggler-font-size: 1.5rem;
$headings-font-family: 'Roboto Slab', serif;
$headings-font-weight: 300;
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$navbar-light-color: $white;