// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Typography
h1,
.h1 {
    font-size: 2.875rem;

    @media (max-width: $md) {
        font-size: 2.375rem;
    }
}

h2,
.h2 {
    font-size: 2.25rem;

    @media (max-width: $md) {
        font-size: 1.875rem;
    }
}

h3,
.h3 {
    font-size: 1.875rem;
}

h4,
.h4 {
    font-size: 1.625rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

small,
.text-small {
    font-size: 0.875rem;
    font-weight: bold;
    @media (max-width: $md) {
        font-size: 0.75rem;
    }
}

.text-nav {
    font-size: 1.25rem;
    @media (max-width: $md) {
        font-size: 1.125rem;

    }
}

.text-button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    color: #552600;
    @media(max-width: $md) {
        font-size: 1rem;
    }
}

.text-secondary-900 {
    color: $secondary-900;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

// Global styles

.btn {
    padding: 12px 24px;
    border-color: #E4B34F;
    border-width: 2px 2px 5px 2px;
}

.btn-outline {
    border-color: $black;
    border-width: 2px;
    border-radius: 0;
}

.wpcf7 input:not(:disabled):not(.disabled)[type=submit] {
    padding: 0;
    background-color: $primary;
    color: #552600;
}

.wpcf7 input:not(:disabled):not(.disabled)[type=submit]:hover {
    background-color: #ffc73c;
    border-color: #ffc73c;
}

.form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
    padding: 15px 18px 8px 18px;
}

.rotate-180 {
    transform: rotate(-180deg);
}

.mt-30 {
    margin-top: 30px;
}

.mt-25 {
    margin-top: 25px;
}

.my-6 {
    margin: 6px 0;
}



// Header styles

.wrapper-100vh {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-nav {
    background-color: $secondary-900;

    @media (min-width: $md) {
        padding: 1.5rem 0;
    }

    .custom-logo-link {
        width: 290px;
        @media (max-width: $xl) {
            width: 270px;
        }
        @media (max-width: $lg) {
            width: 240px;
        }
        @media (max-width: $md) {
            width: 210px;
        }
        img {
            width: 100%;
        }
    }
}

// Footer styles
.footer {
    margin-top: 150px;
    background-color: $secondary-900;

    @media (max-width: $sm) {
        margin-top: 70px;
    }

    .menu-item {
        a {
            color: $white;
        }
    }

    .footer-nav {
        @media(max-width:$sm) {
            max-width: 230px;
        }
    }
}

// Home Page Styles

    .home-hero {
        flex: 1 1 100%;
        background: url('https://res.cloudinary.com/djoe/image/upload/f_auto,q_20,w_auto,dpr_auto/v1611439506/Skyward%20Designs%20%28new%29/hero2_qzczje.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media (max-width: $md) {
            height: 500px;
        }

        p:first-of-type {
            margin-top: 20px;
            width: 100%;

            @media (max-width:$lg) {
                max-width: 400px;
            }

        }

        .btn {
            margin-top: 32px;
            margin-bottom: 25px;
        }
    }

#home {

    .featured-top-section {
        padding-bottom: 8rem;

        @media (max-width: $md) {
            padding: 0;
            padding-bottom: 4rem;
        }
    }

    .featured-bottom-section {
        padding-bottom: 8rem;

        @media (max-width: $md) {
            padding: 0;
            padding-bottom: 4rem;
        }
    }

    .feature {
        margin-top: 8rem;

        @media (max-width: $md) {
            margin-top: 4rem;
        }

        &__list {
            @media (max-width: $lg) {
                margin-top: 60px;
            }
        }

        &__title {
            margin-bottom: 27px;
        }

        &__item {
            display: flex;
        }

        &__item:not(:last-of-type) {
            margin-bottom: 21px;
        }
    }

    .triangle {
        width: 20px;
        height: 24px;
    }

    .pricing-cta {
        height: 530px;
        background: url('https://res.cloudinary.com/djoe/image/upload/q_90,f_auto,w_auto,dpr_auto/v1611439744/Skyward%20Designs%20%28new%29/pricebg2_vilv3i.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .price-wrapper {
            @media (max-width:404px) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .price-cta-card {
            padding: 53px;

            @media (max-width:404px) {
                padding: 25px;
            }

            p {
                margin-top: 24px;
            }

            .btn {
                margin: 24px 0;
            }
        }
    }

    .pricing {
        background-color: $secondary-300;
        padding: 8rem 0;

        .row.mt {

            @media (min-width: $md) {
                margin-top: 4rem;
            }
        }

        &__title {
            margin-bottom: 3rem;
        }

        &__card {
            overflow: hidden;

            @media(max-width:$md) {
                max-width: 375px;
            }

            @media (min-width: $md) {
                height: 600px;
            }

            @media(min-width: $lg) {
                transform: scale(0.94);
                height: 635px;
            }

            @media(min-width: $xl) {
                transform: scale(0.94);
                height: 595px;
            }

            &:hover {

                .pricing__header-bg--2 {
                    transform: translate(-50%, -38%);
                }

                .pricing__header-bg--3 {
                    left: 0%;
                }

                .pricing__header-bg--4 {
                    right: 0%;
                }
            }

            &.scale {
                @media (min-width: $xl) {
                    transform: scale(1.02);
                }
            }
        }

        &__header {
            width: 100%;
            min-height: 216px;
            background: radial-gradient(54.86% 54.86% at 50% 50%, #008CD2 0%, #00344F 100%);
            position: relative;

            &-banner {
                position: absolute;
                transform: rotate(45deg);
                top: 8%;
                right: -16%;
                padding-top: 0.6rem;
                padding-bottom: 0.2rem;

                @media (min-width: $md) {
                    top: 7%;
                    right: -14%;
                    padding-top: 0.6rem;
                    padding-bottom: 0.2rem;
                }

                @media (min-width: $xl) {
                    top: 8%;
                    right: -15%;
                    padding-top: 0.7rem;
                    padding-bottom: 0.3rem;
                }

            }

            &-text {
                font-family: "Lato", sans-serif;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 3.8px;
                position: relative;
                top: -13px;
            }

            &-dollar {
                font-size: 33px;
                line-height: 40px;
                position: relative;
                bottom: -2px;
                left: -8px;
            }

            &-price {
                font-size: 70px;
                line-height: 84px;
                letter-spacing: 0.06em;
                position: relative;
                top: -10px;
            }

            &-subtext {
                color: $secondary-300;
                position: relative;
                top: -8px;
            }

            &-bg {
                position: absolute;
                top: 100%;
                width: 100%;

                img {
                    width: 100%;
                    position: absolute;
                    transform: translateY(-50%);
                    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                }

                img.pricing__header-bg--1 {
                }

                img.pricing__header-bg--2 {
                    width: auto;
                    left: 50%;
                    transform: translate(-50%,-30%);
                }

                img.pricing__header-bg--3 {
                    left: -5%;
                }

                img.pricing__header-bg--4 {
                    right: -5%;
                }
            }
        }

        &__body {
            position: relative;
            z-index: 2;
        }

        &__footer {
            flex: 1;
        }
    }

    .cta-form {
        padding-top: 6rem;

        p:first-of-type {
            margin-top: 21px;
        }

        form {
            text-align: left;

            input[type=text],
            input[type=email] {
                margin-top: 14px;
                border: 1px solid $black;
                border-radius: 0;
            }

            input[type=text]:focus,
            input[type=email]:focus {
                box-shadow: 0 0 0.3rem 0.1rem $secondary;
                border: 1px solid transparent;
            }

            input::placeholder {
                font-style: italic;
                color: $grey-300;
                font-weight: 400;
            }

            label:first-of-type {
                margin-top: 21px;
            }

            label {
                margin-top: 15px;
            }

            input[type=submit] {
                margin-top: 21px;
                padding: 12px 24px;
                height: auto;
                width: 100%;
            }
        }
    }
}

// Contact page
#contact {

    .hero {
        height: 530px;
        background: linear-gradient(rgba(#000, 0.6),rgba(#000, 0.6)),url('https://res.cloudinary.com/djoe/image/upload/q_30,f_auto/v1610402556/Skyward%20Designs%20%28new%29/contact-hero_pmlb04.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        h1 {
            margin-top: -80px;
        }

        p:first-of-type {
            margin-top: 20px;
        }
    }

    .contact-boxes {
        margin-top: -100px;

        .contact-box {
            padding: 65px 0;
            max-width: 450px;

            @media (min-width:$xl) {
                max-width: 540px;
            }

            .fa {
                font-size: 48px;
            }

            &--2 {
                @media(max-width: $lg) {
                    margin-top: 55px;
                }
            }
        }
    }
}

// Services page
#services {
    .hero {
        height: 530px;
        background: linear-gradient(rgba(#000, 0.6),rgba(#000, 0.6)),url('https://res.cloudinary.com/djoe/image/upload/q_30,f_auto/v1610374628/Skyward%20Designs%20%28new%29/services-hero_qsk1nt.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        p:first-of-type {
            margin-top: 20px;
        }
    }


    .service {
        margin-top: 115px;

        .service-box {
            margin-top: 80px;

            img {
                max-height: 45px;
                max-width: 65px;
            }

            h3 {
                margin-top: 25px;
            }

            p {
                margin-top: 16px;

                @media (max-width:$sm) {
                    max-width: 250px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}